{% extends 'base.html.twig' %}

{% block title %}{{ 'header.link.edit' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'header.link.edit' | trans }}</h1>

        {{ form_start(form) }}
            {{ form_row(form.user) }}
            {{ form_row(form.link.url) }}
            {{ form_row(form.link.tags) }}

            {{ form_rest(form) }}

            <button type="submit" class="btn btn-primary">{{ 'link.edit' | trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
