{% extends 'base.html.twig' %}

{% block title %}{{ 'header.homepage' | trans }}{% endblock %}

{% block body %}
    <div class="col-md-6 container">
        <center>
            <p></p>
            <h2>
                {{ 'header.homepage.welcome' | trans }}
            </h2>
            <p>
                {{ 'homepage.text1' | trans }}
            </p>
            <p>
                {{ 'homepage.text2' | trans }}
            </p>
            <p>
                {{ 'homepage.text3' | trans }}
            </p>
            <p>
                {{ 'homepage.text4' | trans }}
            </p>
            <p>
                <b>{{ 'homepage.user.data' | trans }}</b>
            </p>
            <p>
                <b>{{ 'homepage.admin.data' | trans }}</b>
            </p>
            <p>
                <h4>{{ 'homepage.database.title' | trans }}</h4>
            </p>
            {% block photo %}
            <p>
                <img src="{{ asset ('https://i.ibb.co/VSwWjnQ/links2019.png') }}" alt="Example"/>
            </p>
            {% endblock %}
        </center>

    </div>
{% endblock %}
